@import "react-select";
@import "leaflet/dist/leaflet.css";
@import "react-bootstrap-daterangepicker/css/daterangepicker.css";
@import "mwater-expressions-ui";
@import "fixed-data-table/dist/fixed-data-table.min.css";
@import "rc-slider/assets/index.css";

/* http://stackoverflow.com/questions/19305821/multiple-modals-overlay */
.modal { overflow-y: auto; }

.mwater-visualization-simple-widget {
  border: solid 2px transparent;
  border-radius: 8px;
}

.mwater-visualization-simple-widget:hover {
  border: solid 2px #EEE;
}

.mwater-visualization-simple-widget .mwater-visualization-simple-widget-resize-handle {
  display: none;
}

.mwater-visualization-simple-widget:hover .mwater-visualization-simple-widget-resize-handle {
  display: block;
}

.mwater-visualization-simple-widget .mwater-visualization-simple-widget-gear-button {
  display: none;
  color: #337ab7;
}

.mwater-visualization-simple-widget:hover .mwater-visualization-simple-widget-gear-button {
  display: block;
}

/* Use these to make a child that displays only when parent is hovered */
.hover-display-parent > .hover-display-child {
  visibility: hidden;
}

.hover-display-parent:hover > .hover-display-child {
  visibility: visible;
}

.c3-title {
  font: 14px sans-serif;
  font-weight: bold;
}

.mwater-visualization-page-break {
  width: 100%;
  border-bottom: dashed 1px #AAA;
  height: 0px;
}

@media print {
  .mwater-visualization-page-break {
    border-bottom: none;
    /*
    Removed since needs to be normal display, not absolute to work 
    page-break-after: always;
    */
  }
}

.overflow-auto-except-print {
  overflow: auto;
}

@media print {
  .overflow-auto-except-print {
    overflow: hidden;
  }
}

.mwater-visualization-layer {
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 31px;
  padding-left: 33px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAACICAMAAADd7UtAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wQSAwc2opGAiQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACZUExURQAAACRKZCdTcStXdSxdfi9ggTBmizNpjjRwmTZymzdjgTh0nTh5pTp2nzp7pztnhTx9qTyDsz1ujz1+qj2EtD6FtT+ArD+GtkF3nEGCrkGNwUN/qEddbEdidV9vemCBl2aMpmmEl3uGjoiYo4yisZCmtaaxuau2vq/F1LbBybrK1czS1tvb29zc3Nzi5t3d3e7u7vb29v///7EhMRkAAAABdFJOUwBA5thmAAAAAWJLR0QyQNJMyAAAAKdJREFUSMftkNkSgjAMRRHRWioYlaJ1Q9wXFsn/f5wUHFzgxXF8y3nLmdw2iRHVMEg1qzh+qjRKS5qDBEEQBEH8l2GNn5RX0O/u8DJ/VW5viYgn15tpJSVIyc0rYjYCWXQBX0+5tc2bQi4nWgHbY2Lr2JlB+RYEeZXpmA2PH8E6YEEoqiFYa6PNkfmV8oW5umEyGL9Mr0R7kQTO20LKYR3xuaNSX17iDg5iUsxlu5HeAAAAAElFTkSuQmCC');
  font-size: 12pt;
  background-position: 8px 6px;
  margin-bottom: 5px;
  margin-top: 3px;
  cursor: pointer;
}

.mwater-visualization-layer.checked {
  background-position: 8px -112px;
}

.mwater-visualization-checkbox {
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 33px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAACICAMAAADd7UtAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wQSAwc2opGAiQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACZUExURQAAACRKZCdTcStXdSxdfi9ggTBmizNpjjRwmTZymzdjgTh0nTh5pTp2nzp7pztnhTx9qTyDsz1ujz1+qj2EtD6FtT+ArD+GtkF3nEGCrkGNwUN/qEddbEdidV9vemCBl2aMpmmEl3uGjoiYo4yisZCmtaaxuau2vq/F1LbBybrK1czS1tvb29zc3Nzi5t3d3e7u7vb29v///7EhMRkAAAABdFJOUwBA5thmAAAAAWJLR0QyQNJMyAAAAKdJREFUSMftkNkSgjAMRRHRWioYlaJ1Q9wXFsn/f5wUHFzgxXF8y3nLmdw2iRHVMEg1qzh+qjRKS5qDBEEQBEH8l2GNn5RX0O/u8DJ/VW5viYgn15tpJSVIyc0rYjYCWXQBX0+5tc2bQi4nWgHbY2Lr2JlB+RYEeZXpmA2PH8E6YEEoqiFYa6PNkfmV8oW5umEyGL9Mr0R7kQTO20LKYR3xuaNSX17iDg5iUsxlu5HeAAAAAElFTkSuQmCC');
  font-weight: bold;
  background-position: 8px 6px;
  margin-bottom: 5px;
  margin-top: 3px;
  cursor: pointer;
}

.mwater-visualization-checkbox.checked {
  background-position: 8px -112px;
}

.mwater-visualization-radio {
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 33px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAACICAMAAADd7UtAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wQSAw42c1M7wAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAEdUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPX19fr6+gBmpgBfmgBmrQBipwBeofj4+Pz8/ABpsgBmrwBqtgBuuPLy8vn5+fr6+gBrsQBpsQBtuPLy8vj4+Pr6+gBnrwBosABmqwBkq+zs7O7u7u/v7wBnrgBmqwBlqgBjp+rq6uvr6+Pj4+fn5+np6evr6+zs7ABipQBorwBhogBTjABUjQBVjwBWkQBXkgBcmwBdnABenQBengBfnwBfoABgoQBlqxVaihZbixddjBhejh9hjyJlkiZehStqlSxsly5lijBmizFojTNpjjZznDdjgTtnhWmEl2qLoW+KnXOOoXqVqH2Yq9jY2NnZ2dra2tvb29zc3N3d3eLi4vb29v///0mXygEAAAAzdFJOUwAFBwgLDA4PMTE2OkRHSU1NmKCgoKKiora7v7+/v8bO0tbb29vh8PT3+Pj5+fn5+fr8/hZGHi8AAAABYktHRF4E1mG7AAABfElEQVQYGe3Bu3LTQACG0e/f3axkYxHHYQZSOBM6Klc09Dx4Oto8Qxjs4ZrEG8u6rLQ4CRebnk7niAfTbDKmvK9v2REwevGOJx++bcHC8flb/TJvmhrLaL7gj5flJhpOF+xZnGKP3yf2XXx0WRL7UuYm4tDEFPxj4qI41Lk6cah2d+LQnWkMB0xj6+8X7Lv8amnrV/x1tYyW2JRn+u3q0wYLdfjymke6XG5APDj2z0ds180dg8FgMBgM/juJnWd5cc51qDbsyEA+PefJ9W0FVuTzM6nt+95p6suIVT6f0XTsdJ0d+TI6TWe0FN7SNaE9moXPdvImtZzk/shZ66vezn44n0ThR2ORSoqg5E0h8G4s0Nh5UGFOaOWc2JFzajkxSUDiUQKvZG7IiF1iJ3URcWOCUNtXCdK2b0HBxVBkwdIY+q4OUoi2T6fqK5PUN/Xa5LpeO9arsyzdJ0DKWK2xLm1UyD1htYzII1dMxzwob0NMyIO6kStyqhArk+Anm2ecLr5aW+sAAAAASUVORK5CYII=');
  font-weight: bold;
  background-position: 8px 6px;
  margin-bottom: 3px;
  margin-top: 3px;
  cursor: pointer;
}

.mwater-visualization-radio.checked {
  background-position: 8px -112px;
}

.mwater-visualization-big-options {
  border: solid 1px #DDD;
}
 
.mwater-visualization-big-option {
  border: solid 1px transparent;
  border-bottom: solid 1px #DDD;
  padding: 8px;
  margin-bottom: -1px;
  cursor: pointer
}

.mwater-visualization-big-option:hover {
  border: solid 1px #888;
  background-color: #F0F0F0;
}

.mwater-visualization-markdown p {
  font-size: 12pt;
}

.d3-tip {
  line-height: 1;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip p {
  margin: 0;
  padding: 0;
}

.rc-tooltip {
  z-index: 4000;
}

.axis-palette{
  display: inline-block;
  margin-right: 10px;
  padding: 2px;
  border: 1px solid transparent;
  line-height: 0;
}

.axis-palette:hover{
  border-color: #dbdbdb;
}