@import "react-select/dist/default.css";
@import "leaflet/dist/leaflet.css";

.editable-link {
	color: #478;
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 2px;
	border-radius: 5px;
}

.editable-link:hover {
	background-color: #e7f0f3;
}

.editable-link .editable-link-remove {
	position: absolute;
	top: -6px;
	right: -6px;
	visibility: hidden;
	font-size: 80%;
	border-radius: 10;
}

.editable-link:hover .editable-link-remove {
	visibility: visible;
}

.editable-link-remove:hover {
	visibility: visible !important;
	color: #639db0;
}

.mwater-visualization-simple-widget {
	border: solid 2px transparent;
	border-radius: 8px;
}

.mwater-visualization-simple-widget:hover {
	border: solid 2px #EEE;
}

.mwater-visualization-simple-widget .mwater-visualization-simple-widget-resize-handle {
	display: none;
}

.mwater-visualization-simple-widget:hover .mwater-visualization-simple-widget-resize-handle {
	display: block;
}

.mwater-visualization-simple-widget .mwater-visualization-simple-widget-gear-button {
	display: none;
	color: #337ab7;
}

.mwater-visualization-simple-widget:hover .mwater-visualization-simple-widget-gear-button {
	display: block;
}

.c3-title {
  font: 14px sans-serif;
  font-weight: bold;
}

.mwater-visualization-page-break {
	width: 100%;
	border-bottom: dashed 1px #AAA;
}

@media print {
	.mwater-visualization-page-break {
		border-bottom: none;
		page-break-after: always;
	}
}

.overflow-auto-except-print {
	overflow: auto;
}

@media print {
	.overflow-auto-except-print {
		overflow: hidden;
	}
}

.mwater-visualization-layer {
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 33px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAACICAMAAADd7UtAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wQSAwc2opGAiQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACZUExURQAAACRKZCdTcStXdSxdfi9ggTBmizNpjjRwmTZymzdjgTh0nTh5pTp2nzp7pztnhTx9qTyDsz1ujz1+qj2EtD6FtT+ArD+GtkF3nEGCrkGNwUN/qEddbEdidV9vemCBl2aMpmmEl3uGjoiYo4yisZCmtaaxuau2vq/F1LbBybrK1czS1tvb29zc3Nzi5t3d3e7u7vb29v///7EhMRkAAAABdFJOUwBA5thmAAAAAWJLR0QyQNJMyAAAAKdJREFUSMftkNkSgjAMRRHRWioYlaJ1Q9wXFsn/f5wUHFzgxXF8y3nLmdw2iRHVMEg1qzh+qjRKS5qDBEEQBEH8l2GNn5RX0O/u8DJ/VW5viYgn15tpJSVIyc0rYjYCWXQBX0+5tc2bQi4nWgHbY2Lr2JlB+RYEeZXpmA2PH8E6YEEoqiFYa6PNkfmV8oW5umEyGL9Mr0R7kQTO20LKYR3xuaNSX17iDg5iUsxlu5HeAAAAAElFTkSuQmCC');
  font-size: 12pt;
  background-position: 8px 6px;
  margin-bottom: 5px;
  margin-top: 3px;
  cursor: pointer;
}

.mwater-visualization-layer.checked {
  background-position: 8px -112px;
}
