@import "react-select/dist/default.css";

/*.items-enter {
	opacity: 0.1;
  	transition: opacity .2s ease-in;
}
.items-enter.items-enter-active {
    opacity: 1;
}
.items-leave {
 	opacity: 1;
 	transition: opacity .2s ease-in;
}

.items-leave.items-leave-active {
 	opacity: 0.01;
}
*/

.editable-link {
	color: #478;
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 2px;
	border-radius: 5px;
}

.editable-link:hover {
	background-color: #e7f0f3;
}

.editable-link .editable-link-remove {
	position: absolute;
	top: -6px;
	right: -6px;
	visibility: hidden;
	font-size: 80%;
	border-radius: 10;
}

.editable-link:hover .editable-link-remove {
	visibility: visible;
}

.editable-link-remove:hover {
	visibility: visible !important;
	color: #639db0;
}

.mwater-chart-widget {
	border: solid 2px transparent;
	border-radius: 8px;
}

.mwater-chart-widget:hover {
	border: solid 2px #EEE;
}

.mwater-chart-widget .mwater-chart-widget-resize-handle {
	display: none;
}

.mwater-chart-widget:hover .mwater-chart-widget-resize-handle {
	display: block;
}